{{page-title "freshbooks"}}
<Header @globals={{@model}} />
<Container @globals={{@model}}>
  <main>
    {{outlet}}
  </main>
</Container>
{{!-- <AlertsWithDismiss>
  {{yield}}
</AlertsWithDismiss> --}}
<Footer />